<h1 class="text-center">Add a new restaurant </h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for @restaurant do |f| %>
        <%= f.input :name, placeholder: "Chez Bob" %>
        <%= f.input :address, placeholder: "rue de chez Bob"  %>
        <%= f.input :phone_number %>
        <%= f.input :category, collection: Restaurant::CATEGORIES, prompt: "Quelle catégorie ?" %>
        <%= f.button :submit, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
