<h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>

<h3> Reviews </h3>

<% @restaurant.reviews.each do |review| %>
  <li>
    <%= review.content %>
    <%= review.rating %>
  </li>
<% end %>


<p><%= link_to "Back to restaurants list", restaurants_path %></p>
<%= link_to "Add review", new_restaurant_review_path(@restaurant) %>
